body{

  background-image: url("./components/photos/back.png");
  
  background-repeat: no-repeat;
  background-size: cover;
 
}



.line {
  margin-top: 6%;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  color: rgb(255, 255, 255);
}


#form{
  width: 80%;
  margin: auto;
}

.container-fluid{
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


#cart{
  width: 50%;
  margin: auto;
}

#logbutt{
  background: transparent;
border: none !important;
}





.button {
  display: inline-block;
  padding: 5px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  text-align: center;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0beb7b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid #39bd61;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #18e018;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #6eaf66;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 #footer{
  margin-top: 10%;
  float: left;
  width: 100%;
}


.input {
  
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: small;
  font-weight: bold;
  text-align: center;
  height: 25px;
  transition: 0.5s;
  z-index: 1;

 
 }

.fields{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

 .input:focus {
  outline-color: white;
  background-color: #212121;
  color: #e8e8e8;
  box-shadow: 5px 5px #888888;
 }


 #home{
  float: left;
  margin-left: 20px;
  
  margin-right: 6px;
  color: white;
  
  
 }



 @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

 *{
     margin: 0px;
     padding: 0px;
 }
 
 body{
     font-family: 'Exo', sans-serif;
 }
 
 
 .context {
     width: 100%;
     position: absolute;
     top:50vh;
     
 }
 
 .context h1{
     text-align: center;
     color: #fff;
     font-size: 50px;
 }
 
 
 .area{
     
     background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
     width: 100%;
     height:100vh;
     position: fixed;
     
    
 }
 
 .circles{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }
 
 .circles li{
     position: absolute;
     display: block;
     list-style: none;
     width: 20px;
     height: 20px;
     background: rgba(255, 255, 255, 0.2);
     animation: animate 25s linear infinite;
     bottom: -150px;
     
 }
 
 .circles li:nth-child(1){
     left: 25%;
     width: 80px;
     height: 80px;
     animation-delay: 0s;
 }
 
 
 .circles li:nth-child(2){
     left: 10%;
     width: 20px;
     height: 20px;
     animation-delay: 2s;
     animation-duration: 12s;
 }
 
 .circles li:nth-child(3){
     left: 70%;
     width: 20px;
     height: 20px;
     animation-delay: 4s;
 }
 
 .circles li:nth-child(4){
     left: 40%;
     width: 60px;
     height: 60px;
     animation-delay: 0s;
     animation-duration: 18s;
 }
 
 .circles li:nth-child(5){
     left: 65%;
     width: 20px;
     height: 20px;
     animation-delay: 0s;
 }
 
 .circles li:nth-child(6){
     left: 75%;
     width: 110px;
     height: 110px;
     animation-delay: 3s;
 }
 
 .circles li:nth-child(7){
     left: 35%;
     width: 150px;
     height: 150px;
     animation-delay: 7s;
 }
 
 .circles li:nth-child(8){
     left: 50%;
     width: 25px;
     height: 25px;
     animation-delay: 15s;
     animation-duration: 45s;
 }
 
 .circles li:nth-child(9){
     left: 20%;
     width: 15px;
     height: 15px;
     animation-delay: 2s;
     animation-duration: 35s;
 }
 
 .circles li:nth-child(10){
     left: 85%;
     width: 150px;
     height: 150px;
     animation-delay: 0s;
     animation-duration: 11s;
 }
 
 
 
 @keyframes animate {
 
     0%{
         transform: translateY(0) rotate(0deg);
         opacity: 1;
         border-radius: 0;
     }
 
     100%{
         transform: translateY(-1000px) rotate(720deg);
         opacity: 0;
         border-radius: 50%;
     }
 
 }



 .myinfo{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
 }


 .nlikes{
    color: whitesmoke;    
 }