.butt{
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: #bae4ba;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  button:hover .span-mother {
    position: absolute;
  }
  
  button:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
  button .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  button .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother span:nth-child(6) {
    transition: .7s;
  }
  
  button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
  button .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  button:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  button .span-mother2 span {
    transition: .2s;
  }
  
  button .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother2 span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother2 span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother2 span:nth-child(6) {
    transition: .7s;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
    float: right;
    margin-right: 30%;
    margin-top: 3%;
  }
  
  .btn-2 {
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
  }
  
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  
  .delete {
    --bg: #e74c3c;
    --text-color: #fff;
   
    width: 140px; 
    border: none;
    background: var(--bg);
    color: var(--text-color);
    
  font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    height: 50px;
    float: right;
    scale: 60%;
  }
  
  .delete:hover {
    opacity: 1;
  }
  
  .delete:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }