.nav {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    margin: auto;
    margin-top: 10px;
  }


  .navhold{
    margin: auto;
    flex-wrap: wrap; 
  display: flex;
    justify-content: center;
    
  }
  
#navitem{
    padding: 5px;
    margin-left: 10px;
 
    
    float: left;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    
}

#navitem:hover{
  scale: 110%;
  transition: 0.3s;
  
  background-color: rgb(46, 46, 46);
}

  .bell {
    width: 13px;
  }
  
  .bell path {
    fill: rgb(0, 206, 62);
  }
  

  
  
  /* .button:hover .arrow {
    animation: slide-right .6s ease-out both;
  } */
  /* arrow animation */
  
  @keyframes slide-right {
    0% { 
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
  }
  